<%= render :partial => 'asset' %>

<%= form_for @entry, :html => { :multipart => true } do |f| %>

  <div class="row">

    <div class="title span12">
      <%= f.label :file_name %>
      <%= f.text_field :file_name %>
    </div>
    <div class="content span7">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="span5 assets">
      <% @entry.assets.each do |asset| %>
        <div class="asset">
          <%= file_field_tag "entry[assets][#{asset.id}][file]" %>
          <br />
          <%= check_box_tag "entry[assets][#{asset.id}][_destroy]" %> remove
        </div>
      <% end %>        
    </div>
    <div class="span5">
      <%= link_to "Add Asset", "#", :class => "add-asset" %>
    </div>

  </div>
  <div class="form-actions">
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                entries_path, :class => 'btn' %>
  </div>
<% end %>
