<%= render :partial => 'asset' %>

<script type="text/javascript">
  window.assets = [<%= raw @assets %>]
</script>

<%= form_for @entry, :html => { :multipart => true } do |f| %>

  <div class="row">

    <div class="title span12">
      <%= f.label :file_name %>
      <%= f.text_field :file_name %>
    </div>
    <div class="content span7">
      <%= f.text_area :content %>
    </div>

    <div class="span5 assets"></div>

    <div id="uploader" class="uploader span4 btn ">
      <i class="icon-upload icon-white"></i> Add files
    </div>

  </div>
  <div class="form-actions">
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                entries_path, :class => 'btn' %>
  </div>
<% end %>
