<div class="row">
  <%- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true, :fenced_code_blocks => true, :tables => true) %>
  <div class="span6 center">
    <%= raw markdown.render @entry.content %>
  </div>
</div>

<div class="row entry-data">
  <div class="span6 center">
    <% if @entry.yaml_data %>
      <% if @entry.updated_by %>
        Last updated by: <%= @entry.updated_by.username %>
        <% if @entry.updated_at %>
          <br />
          on <%= @entry.updated_at.strftime('%c') %>.
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="form-actions">
  <%= link_to "Edit", edit_entry_path(:id => @entry.file_name), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              entry_path(:id => @entry.file_name),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
  
